* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.nav_teams {
  width: 100%;
  height: 20%;
  padding: 0.5rem;
  margin: 1rem;
  background-color: grey;
  display: flex;
}
.nav_teams nav ul li {
  width: 18%;
  height: 100%;

  padding: 1px;
  padding-left: 5%;
  flex-wrap: wrap;
  list-style-type: none;
  display: inline-block;
  
}
.hero{
  background-color: gray;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  width:100%;
  height: 30%;
}
.hero span{
  justify-content: flex-start;
  padding: 0.5rem;
 width: 50%;
}
.hero span h1{
 background-color: red;
 justify-content: flex-start;
 padding: 0.5rem;
 width: 100%;
 margin-bottom: 1rem;
  
}
.hero span p{
  background-color: blueviolet;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 100%;
}
.hero span img{
  justify-content: flex-end;
  width:100%;
  height: 100%;
}
.footer footer{
  width: 100%;
  height: 20%;
  background-color: blue;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between 1rem;
}
.footer span ul{
  background-color: blueviolet;
  width: 60%;
  height:100%;

}
.footer .footer_1 img{
  
  width: 20%;
  height:100%;
}
.footer .footer_2 img{
  
  width: 20%;
  height:100%;
}
