*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav_teams{
    width: 80%;
    height: 250px;
    padding: 20px;
    border: 1px solid black;
    margin: auto;
    background-color: grey;
}
.team{
    width: 10%;
    height: 25px;
    border: 1px solid black;
    margin:2px;
    padding: 5px;
}